{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div style="text-align: center; margin: 2rem 0 3rem 0;">
    <img src="{% static 'dashboard/images/AiCaddyLogo.png' %}" alt="AI Caddy" class="login-logo">
  </div>
  <h2>Log In</h2>
  <div class="card">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div style="text-align: right; margin-top: 2rem;">
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
    <p style="margin-top: 2rem; text-align: center;">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
  </div>
{% endblock %}
